header {
    height: 400px;
    background-image: url(../img/blog6.jpg);
    background-size: cover;
    background-position: 0 55%;
    background-color: transparent;
}

.cetiri img {
    width: 50%;
}

#phead {
    padding: 10%;
}

.articles {
    grid-template-columns: repeat(2, 40vw);
    padding: 10% 0;
    row-gap: 10%;

}

.article {
    display: grid;
    height: max-content;
}



.article h2 {
    text-align: center;
    padding: 0;
}