header {
    height: 400px;
    background-image: url(../img/blog6.jpg);
    background-size: cover;
    background-position: 0 55%;
    background-color: transparent;
}

.cetiri img {
    width: 50%;
}

#phead {
    padding: 10%;
}

.articles {
    grid-template-columns: repeat(2, 40vw);
    padding: 10% 0;
    row-gap: 10%;

}

.article {
    display: grid;
    height: 600px;
}



.article h2 {
    text-align: center;
    padding: 0;
}

@media (max-width: 970px) {
    .article {
        height: 500px;
    }

    .article .button {
        width: max-content;
        padding: 5px 10px;
    }
}

@media only screen and (width<=750px) {
    .articles {
        grid-template-columns: none;
        padding: 0 10%;
        row-gap: 5px;
    }

    .article {
        height: 500px;
    }

}