header{
    height: 400px;
}

.cetiri img{
    width: 50%;
}
.galerija{
  margin-top: 10vh;
}
.list{
  padding: 0 20vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.list li{
  padding: 10px 15px;
  border: 2px solid #710609;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: all .5s ease;
  background-color: #fff;
  color: #710609;
}

.list li.active, .list li:hover{
  background-color: #710609;
  color: #FFF;
  border: 2px solid #f8029a;
}

.galerija .container2{
overflow: hidden;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
padding: 5vh 10vw;
/* padding: 0; */
}

.galerija .container2 .img{
  width: 25%;
  margin: 3%;
  /* padding: 3%; */
  transition: transform .2s;
}

.galerija .container2 .img:hover{
  transform: scale(1.5); 
}

@media (max-width: 767px){
  .galerija .container2 img{
      margin-bottom: 15px
  }
}