.tajna {
  padding: 5% 10% 0% 10%;
  /* background-color: rgba(255, 255, 255, 0.185); */
}

/* .tajna h2 {
  font-size: 2rem;
  color: #faf7f7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 text-shadow: rgb(255, 0, 170) 10px 0 20px; 
text-align: center;
padding-bottom: 10%;
} */

.tajna p {
  color: rgb(114, 31, 31);
  font-size: 1.3rem;
  padding-top: 3%;
}

.ukus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ukus div {
  width: 50%;
  padding: 0 5%;
}

.ukus img {
  width: 50%;
  height: 30vw;
  border: #a64a83 15px groove;
}

.ukus h3 {
  font-size: 1.6rem;
  color: rgb(114, 31, 31);
  text-align: center;
  text-shadow: rgb(243, 142, 209) 5px 0px 4px;
}

@media only screen and (max-device-width: 768px) {
  .ukus {
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
  }

  .ukus div {
    width: 100%;
    padding: 0 5%;
  }

  .ukus img {
    width: 100%;
    height: 40vw;
    border: #a64a83 15px groove;
  }

  .ukus:nth-child(2) {
    flex-direction: column-reverse;
  }
}