header{
    height: 400px;
}

.cetiri img{
    width: 50%;
}
#head h1{
  font-size: 5rem;

}

/* ****
*****MAIN section
************ */
.kontakt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.185);
    padding: 10vh 5vw;
}
.koraci h2{
    color: darkred;
}
.koraci{
    padding-left: 5vw;
}
.koraci p{
    font-size: 1.4rem;
    padding-top: 5%;
}

/* ******
******FORM
*********** */
#forma{
  background-image: url(../img/chocolate.jpg);
  background-size: cover;
  width: 25vw;
  text-align: center;
  padding: 50px;
  margin: 0 5vw;
  width: 40vw;
  color: white;
}

#forma_email, #forma_ime, #grad, #forma_poruka{
  width: 30vw;
  margin: 20px 0;
  border: 5px solid #791245;
}

button{
  background-color: #791245;
  border: 5px solid darkred;
  border-radius: 30%;
  color: rgb(255, 240, 242);
  margin-top: 10%;
}
#forma_poruka{
    height: 200px;
}

/* validacija */
.error{
	display: none;
	margin-left: 10px;
}		

.error_show{
	color: red;
	margin-left: 10px;
}

input.invalid, textarea.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}
#mapa{
  margin: 0 25vw;
  width: 50vw;
  padding-top: 2vh;
}
@media only screen and (width<=750px) {
    .nav .dva{
      display: none;
    }
  
    .fa-instagram{
      display: none;
    }
  
    .burger {
      display: block;
      /* display: flex;
      justify-content: space-between;
      align-items: center; */
      color:#791245;
      font-size: 1.2rem;
      font-weight: 700;
    }
  
    .burger-icon{
      padding: 0 2% ;
    }
  
    .burger:hover > .burger-menu{
      display: block;
      margin: 100px 0;
      color: #791245;
      background-color: #e6afd1;
      list-style: none;
      
    }
  
    .burger-menu{
      color: #340708;
      padding: 50px 10px 10px 10px;
    }
  }