/*****************************************
/* CSS
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');
/*font-family: 'Poppins', sans-serif;*/
/* .color1 {color: #0ffff7;}
.color2 {color: #4C0033;}
.color3 {color: #790252;}
.color4 {color: #AF0171;}
.color5 {color: #E80F88} 
*/
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
/* font-family: 'Allura', cursive, sans-serif; */
/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  width: 100vw;
  background-color: #945d7f;
}

.button {
  width: 50%;
  margin-top: 5vh; /*izmena sa 10%!!!!!!!!!!*/
  background-color: #791245;
  padding: 2% 3%;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5% 30%;
  font-size: 1rem;
}

.button a{
  color: #fff;
}

.button:hover {
  background-color: #df3ca8;
}

h1{
  font-size: 6rem;
}
h2,h3,h4,h5,h6{
  color: #340708;
}

p{
  color:darkred;
}

h2{
  color: #df3ca8;
  font-size: 4rem;
  font-family: 'Allura', cursive, sans-serif;
  padding-bottom: 10px;
}
h4{
  font-size: 1rem;
  color: #fff;
  text-shadow: rgb(255, 0, 170) 1px 0 10px;
}
a{
  color: #340708;
}

a:hover{
  color: #df3ca8;
}

/* *********
*****HEADER SECTION
***********
********* */
header{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  background-color: #e6afd1;
  height: max-content;
  padding-bottom: 5%;
}

.nav{
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  padding: 0 7%;
  text-transform: uppercase;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #945d7f8e;
}

.nav:hover{
  background-color: #945d7f;
}

.nav a:hover{
  color: #df3ca8;
}

.nav .active{
  background-color: #791245;
  color: antiquewhite;
  padding: 5% 10%;
}
.ikona .fa-instagram{
  color: #fff;
  font-size: 1.5rem;
}
.dva ul{
  list-style: none;
  display: flex;
  justify-content: space-between;

}

.dva ul li a{
  font-weight: 700;
  margin: 0 3rem;
  color: #fff;
  font-size: 1.1rem;
}

.jedan{
  display: flex;
}

.jedan img{
  width: 2.5rem;
}

#span1{
  align-self: center;
  color:#fff;
  font-size: 1.2rem;
}

#head{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* padding-left: 50px; */
}

.tri{
  width: 100%;
  padding: 5% 10%;
}

.cetiri{
  width: 100%;
  padding-top: 5%;
}

.cetiri img{
  width: 80%;
}

#head h1{
  color: #ee5cbe;
  text-shadow: #0b0106 1px 0 5px;
  text-align: center;
  font-family: 'Allura', cursive, sans-serif; 
}

/******************************************
BURGER MENI
/*******************************************/
.burger {
  display: none;
}

.burger-menu {
  display: none;
}
/******************************************
/* sekcija GALERIJA
/******************************************/
.row {
  display: flex;
  width: 100%;
  height: max-content;
  align-items: center;
  justify-content: space-around;
padding: 10%;
}
.col:nth-child(2){
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.col:first-child{
  width: 30%;
  padding-right: 5%;
  text-align: center;
}

.colCard{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.col h2{
  color: #340708;
  text-shadow: rgb(255, 0, 170) 1px 0 10px;
}

.col p{
  color: white;
}

/* .row:nth-child(2){
   width: 60%; 
  display: flex;
  flex-wrap: nowrap;
}  */

.card {
  width: 12vw;
  height: 35vh;
  /* width: 150px;
  height: 350px; */
  /* display: inline-block; */
  border: 5px solid #791245;
  border-radius: 10px;
  /* padding: 15px 5px; */
  cursor: pointer;
  /* margin: 10px; */
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
  
.card1 {
  background-image: url(../img/wed15.PNG);
}

.card2 {
  background-image: url(../img/dec15.PNG);
}
.card3 {
  background-image: url(../img/slika12.PNG);
}

.card4 {
  background-image: url(../img/kolaci4.PNG);
}

.card:hover {
  transform: translateY(-10px);
}

.card h5 {
  color: #fff;
  background-color: #791245;
  width: 50%;
  padding:  5% 0;
  text-align: center;
  text-shadow: 0 0 5px #df3ca8;
  text-transform: uppercase;
}
/* ********
**********
********sekcija O NAMA
************
********* */

.onama{
  clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0 84%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  background-color: #e6afd1;
  padding: 10%;
}

.radnja{
  width: 50%;
}

.radnja img{
  width: 100%;
  border: 10px groove #791245;
  border-radius: 15px;
}

.onama .rad{
  width: 50%;
  margin-left: 10%;
}
.rad h2{
  color: #340708;
  text-shadow: rgb(255, 0, 170) 1px 0 10px;
}
.rad h3{
  font-size: 1.5rem;
  padding-bottom:  10px;
  color: #791245;
  text-shadow: rgb(255, 0, 170) 1px 0 10px;
}

.rad button{
  text-align: center;
  margin-top: 20px;
  width: 50%;
}
/* ******
*****
***sekcija BLOG
**************
***************** */
.blog1{
  padding-left: 11rem;
  color: #340708;
  text-shadow: rgb(255, 0, 170) 1px 0 10px;
}
.articles{
  padding: 0rem 3rem 5rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  gap: 2rem;
  justify-content: center;
}

.article{
  background: #f9f9f9;
  border: 5px solid #791245;
  border-radius: 2%;
  width: 100%;
}

.article img{
  width: 100%;
}

.article h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  text-align: center;
  margin: 2rem 1rem;
  color: #9c034f;
} 
.article p{
  margin: 1rem;
}
.article .button{
  width: 50%;
 margin: 0.3rem 0 0.8rem 1rem;
}

/* *****
******
***sekcija PORUCI
******
************** */

.poruci{
  clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0 84%);
  background-color: #e6afd1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  padding: 10% 10%;
}

.poziv{
  text-align: center;
  width: 50%;
  padding-right: 5%;
}

.poziv h2{
  padding-bottom: 10%;
  color: #340708;
  text-shadow: rgb(255, 0, 170) 1px 0 10px;
}

.poziv h3{
  color: #fff;
  text-shadow: rgb(255, 0, 170) 1px 0 10px;
  padding: 10px;
}

.slika{
  align-self: center;
  position: relative;
  width: 50%;
  height: auto;
}

.slika img{
  border: 15px groove #791245;
  border-radius: 15px;
  width: 100%;
}

.slika a .button{
  width: 15vw;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}
/* *******
******
****FOOTER
*******
*** */
.linija{
  width: 100%;
  height: 200px;
  background-color: #e6afd1;
  clip-path: polygon(0 96%, 100% 10%, 100% 100%, 0% 100%);
}

.footer{
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  margin: 10% 5% 0 5%;
}

.footer h3{
  font-size: 1.5rem;
  color: #791245;
}

.foot1 ul, .foot2 ul{
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
}

.foot2 ul{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.foot1 li a, .foot2 li a{
  color: white;
  font-size: 1.2rem;
}

.foot1 li a:hover, .foot2 li a:hover{
  color: #df3ca8;
}

footer p{
  color: #791245;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 20px;
}



@media ( max-width: 970px) {
  p{
    font-size: 0.9rem;
  }
  h1{
    font-size: 4rem;
  }
  /*section GALERIJA*/
  .row{
    flex-direction: column;
    padding-top: 5vh;
  }
  .col:first-child{
    width: 100%;
  }
  .col:first-child .button{
    margin: 5vh 0;
  }
  .col:nth-child(2){
    width: 90%;
  }
  .card {
    width: 17vw;
    height: 35vh;
  }
  .dva ul li a{
    margin: 0 2rem;
    font-size: 1.1rem;
  }
  h2{
    font-size: 3.5rem;
  }
  h3{
    font-size: 2.5rem;
  }
 .poruci{
  padding: 20% 10%;
 }
}
@media only screen and (width<=750px) {
  .nav .dva{
    display: none;
  }

  .nav .fa-instagram{
    display: none;
  }

  .burger {
    display: block;
    color:#791245;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .burger-icon{
    padding: 0 2% ;
    color: white;
  }

  .burger:hover > .burger-menu{
    display: block;
    margin: 100px 0;
    color: #791245;
    background-color: #e6afd1;
    list-style: none;
    
  }

  .burger-menu{
    color: #340708;
    padding: 50px 10px 10px 10px;
  }
}
@media ( max-width: 660px){
  p{
    font-size: 0.9rem;
  }
  h1{
    font-size: 3rem;
  }
  
  h2{
    font-size: 2.5rem;
  }

  h4{
    font-size: 0.8rem;
    padding-bottom: 5px;
  }

  .poruci{
    flex-direction: column;
  }
  .poziv{
    width: 100%;
    margin: 0;
   padding: 0;
  }
  .poziv h2{
    padding-bottom: 10px;
  }
  br{
    display: none;
  }
  .articles{
    grid-template-columns: none;
    padding: 0 15%;
  }
  .article{
    display: grid;
    
    height: max-content;
  }
  .article h2{
    font-size: 1rem;
    margin: 0;
    padding-bottom: 5px;
  }
  .article p{
    margin: 0 2rem;
    font-size: 0.8rem;
    text-align: center;
  }
.article .button{
  font-size: 0.7rem;
  width: 100%;
  margin: 0;
}
.article a{
  justify-self: center;
}
}